<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit city info</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body m-2">
  <input [(ngModel)]="city.name" type="text" class="m-2">
  <input id="image" type="file" class="m-2" (change)="changeImage($event)">
  <button (click)="editCity()" type="submit" class="btn btn-primary w-100 m-2">Update</button>
</div>
